<a href="{{ .Site.BaseURL }}" style="font-family: monospace; text-decoration: none;">
  <pre style="margin: 0; color: var(--accent); font-size: 0.65em; line-height: 1.1;">
   .;c,.  ..              'oOOOOOOOOkOOOkkxl.                                   
  .;c:.   .       ...    .:dOOOOkxoc:lxkkkd, ..                                 
..;:'.  ..        .. ..  .:xOOOOx:'.,lxkkl. ..  .                             . 
';:,.....        ..    ..  'okOOkdooxxx:..  .    .                           ...
:;'......        .. .   ..   ,oOOkkkxo'    ..     .                       ...,,,
'.......         .        ..  .;xOkko.   ..        ..                     ...,,,
........        ..  .       ..  .::,.  ...         ...   ...             .',;:::
........      ...   ..        ..      ...          .'.  ....            ..;:::;;
............  ..    ..          ..           .      .'.....            ...,;,.  
...........   ..    ..  ..                        .........      ..   ...':c;.  
..'''......   ..    .    ..                           ....     ....   ...,cc;.  
........ .   ...    ..                                  ..........   ...';ll:'..
....         ...     ..     ..                .          .......     ...':lol;''
.......       ..      ..   .                 .'.          ....        ...,ccc;,'
...',,'..   ....         .  .              . ;kd'           ...     ....':oolc::
.....''......     .     . ..             ....dWWKo,.          ...    ....;clc::;
  .......  .      .   .....             .',.cKWWMWXx:...   .   ...    ...'::::::
     .    .          ....       .. ... ....,xNWWWWMWKkl,.  .......    ....,;;:c:
        .            .          ..;l;'.......;dKWWWMWNKl,. .......       ..',;::
       . ..                    ...lOkkl..     .:KNNMMW0l;' ... ..        ...':lc
      ....            .  .       .lxlkKxl;.    .xNWMMWKl,.  ..              .:lc
.     .  .            .  ..       ;kl:kNMXkc,'':kNMWNWNOo,. ...             .;ll
,.              ...   ......      .kOccxOKWWXKKKKNWNKNWNX0l. .........      .,::
;.                  .   .. ..     .:00dc:ldxOXWMMMMWNXNWWNXk;  ......        ...
;lc,.....                .   ......'cOKOOxc;:oOXWWMMWWNKkoldl. ...              
.lxx:...             ..       .......;dKNK0koccokKXNWMMNx:,cl. ......           
 .cc'..             ..        .      ..:oxXK0kl::cox0XNWWX0Ol. ...              
  .... .          .  .                 .';lOXX0Od:,,lKXXXXXOc'. ..              
   .....          .. .         .       ....,o0NXKOocdKOdxdo:,.....              
. .....     ..    .....         .      .... .;xKNX0OOko,''..'. ..               
. ..... ....           ..      .......   ..   ':ox0X0xdl,..... .                
'. .....                 ..     ...      ...  .'',:cccoo:...                    
...'..                     ..     .         ....... .,lo;.......                
.....                       ..                .......;l:.  ...                  
..'.                         .      .          .....'cc,..   ..                 
 ...                         .  ..  ..    ..    .....,.....   ..                
..                           .....   ..         .. ...   ....  .                
.                           .......  ..         ..  ..    ...  .                
                           ..   ...  ..         ..   ..    ...                  
  </pre>
</a>
